* { margin: 0; padding: 0; box-sizing: border-box;}
html,body{width: 100%;height: 100%;}
  #mask{
      width:100%;
      height:100%;
      background:white;
      position: relative;
  }
  #form{
      width:400px;
      height: 300px;
      border-radius: 10px;
      background:white;
      border:1px solid black;
      position:absolute;
      left:0;top:0;right:0;bottom:0;
      margin: auto;
  }
  .rel{position: relative;height: calc( 100% - 79px );}
  .input_wrap{height:23px;padding-left: 10px;}
  .input_wrap>*{float:left;}
  .input_wrap:first-child{margin-top:10px;}
  #btn{margin:10px;bottom:0;right:0;position: absolute;padding: 8px 20px;border:0;border-radius: 7px;background:rgb(45, 136, 231);color:#fff;font-size: 15px;}
  input[type=radio]{margin:5px;}

  #wrap{display: none;position: absolute;}
  .c{font-weight: bold;}
  li{list-style: none;float:left;}
  #plate>li{ width:100%;}
  #plate>li>ul>li{height: 100%;border:1px solid #fff;background: rgb(45, 136, 231);}
  ul{height: 100%;width:100%;}
  #stop{width: 100%;height:100%;position: absolute;z-index: 99999;}
  .w{
    position: absolute;
    width: 100px;
    height: 40px;
    text-align: center;line-height: 40px;
    display:none;
  }
